<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.batstats"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="33"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>

    <application
        android:name=".battery.BatteryApp"
        android:allowBackup="true"
        android:label="BatStats"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".battery.BatteryMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".battery.service.BatteryMonitorService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".battery.service.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <meta-data
            android:name="moe.shizuku.client.V3_SUPPORT"
            android:value="true" />

        <!-- Widgets -->
        <receiver
            android:name=".battery.widget.BatteryLevelWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="app.batstats.battery.widget.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_battery_level"/>
        </receiver>

        <receiver
            android:name=".battery.widget.BatteryTempWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="app.batstats.battery.widget.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_battery_temp"/>
        </receiver>

        <receiver
            android:name=".battery.widget.BatteryTimeWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="app.batstats.battery.widget.ACTION_REFRESH"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_battery_time"/>
        </receiver>

        <receiver
            android:name=".battery.drain.DrainNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="app.batstats.battery.drain.ACTION_RESET" />
            </intent-filter>
        </receiver>
    </application>
</manifest>